{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block body %}


<div class="container my-3">
      <p><h2>Academics</h2>CIT offers 7 Under Graduate Academic Programmes, 9 Post Graduate Academic Programmes, 3 Five Year Integrated M.Sc.
         Programmes in addition to Ph.D. Research Programmes. As part of the invaluable service rendered to the society by V. 
         Rangaswamy Educational Trust, the CIT Sandwich Polytechnic College was started in 1961. Presently, 8 Engineering Diploma Programmes are offered by the polytechnic in various engineering disciplines.</p>
      <p>The Institute boasts of strong academic-industrial interaction and a high quality of research and consultancy. CIT, managed by a pedigreed lineage for the past 50 years, enjoys national repute. 
        The Institute has the services of competent qualified faculty, and visionary management to enhance the quality of education at all levels and maintain its position in emerging global scenario.</p>
      <p><h3>Mission</h3>The mission of CIT is to “impart high quality education and training to its students to make them World-Class Engineers with a foresight to the changes and problems,
         and pioneers to offer innovative solutions to benefit the nation and the world at large”.</p>
      <p><h4>Vision</h3>The Institute strives to inculcate a sound knowledge in engineering along with realized social responsibilities to enable its students to combat the current and impending 
        challenges faced by our country and to extend their expertise to the global arena.</p>
        <p><h5>General facilities</h5>Rainwater Harvesting,Sewage Water Treatment Plant,Medical facility,Inhouse ATM,Solor panel etc,.</p>
      </div>

{% endblock body %}
