{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container {% comment "" %} my-4 {% endcomment %}">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <h1><center>Welcome to <br>COIMBATORE INSTITUTE OF TECHNOLOGY</center></h1>
  <p><center>Maintaining Global Standards and Excellence</center></p>
</div>
</div>


<div class="container my-3">
<h1 class="my-3 text-center">Select course according to your dream</h1>
  <div>
    <div> <h2>BE degrees:</h2>
      <p> => Computer Science Engineering</p>
      <p> => Electrical and Electronics Engineering</p>
      <p> =>  Mechanical Engineering</p>
      <p> =>  Civil Engineering</p>
      <p> =>  Electronics and Communication Engineering</p>
    </div>
    <div> <h3>Btech degrees:</h3>
      <p> =>  Chemical Engineering</p>
      <p> =>  Information and Technology</p>
      <p> =>  Artificial Intelligence and Data Science</p>
    </div>
    <div> <h3>Integrated courses (M.Sc):</h3>
      <p> =>  Software Systems</p>
      <p> =>  Data Science</p>
      <p> =>  Decision and Computing Science</p>
      <p> =>  Artificial Intelligence and Machine Learning</p>
    </div>
  </div>
{% endblock body %}
